*{
	margin: 0px;
}
body{
   background: url(../img/joker.jpg)no-repeat;
	background-size: cover;
	font-family: 'Mansalva', cursive;
}
.con-for-reset{
 width: 376px;
    margin: 5% 928px auto;
}
.reset-section img{
	width: 150px;
        height: 150px;
        margin: 0px auto;
        display: block;

}
.reset-section h2{text-align: center;
	font-size: 40px;
}
.g{
	color: #B5B5B5;
}
.rs{
	width: 100%;
	height: 32px;
	padding: 5px;
	margin-bottom: 14px;
	 background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    opacity: 5;
}
.btn{
	background: #B5B5B5;
	padding: 3px 8px;
	color: #fff;
	display: block;
	text-transform: uppercase;
	border: none;
	transition: 0.8s ease;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
}
.btn:hover{
	box-shadow: 2px 4px 2px ##20FFDA;

}